body {
    font: 16px / 1.5 sans-serif;
    padding: 0;
    margin: 0;
    min-height: calc(102vh - 20px);
    display: flex;
    flex-direction: column;
    color: #333333;
}

a {
    color: lightblue;
}

.strong {
    font-weight: bold;
}

.small {
    font-size: 0.8rem;
}

.header {
    padding: 0 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: .9rem;
}

.header__user {
    border-radius: 50% 50%;
    cursor: pointer;
}

.main {
    padding: 20px;
}

.main__title {
	margin-bottom: 5px;
}

.main__users {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px 0;
}

.card {
    padding: 20px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .1);
    transition: box-shadow .2s ease;
}

.card:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
}

.card__image {
    border-radius: 50% 50%;
}

.card__list {
    list-style: none;
    padding: 0;
}

.card__list-item {
    font-size: 0.8rem;
}

.footer {
    margin-top: auto;
    padding: 10px;
    background-color: #333333;
    color: #ffffff;
}

.footer__copyright {
    text-align: center;
    font-size: 0.6rem;
}

.breadcrumbs {
    font-size: 0.8rem;
}

.control-panel {
	padding-bottom: 5px;
}